<script src="jeu.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src ="client.js" ></script>
<style>
#myCanvas{
  border: 3px solid red;
  background-color:black;
}
</style>
 <audio id="shoot-sound" src="/sons/shoot.wav"></audio>
  <audio id="boom-sound" src="/sons/explosion.wav"></audio>
<body>	   
	
	<div align="center" id="ENTETE" style="display:none;">
		<hr>
			<div>
				<input style="font-size:25px;" type="button" value="Quitter la game" onclick="window.location.reload();"></input>
			</div>
			<div id="MESS" align = "center" style="font-size:40px; color:blue;" >
			
			</div>
		<hr>
	</div>
	
	<div align="center" id="jeu" style="display:none;">
		<canvas id="myCanvas" width = "1000" height = "600" ></canvas>
		<div>
			<table style="font-size:20px;margin-top:20px;margin-bottom:20px;">
			<tr>
				<td><img src="/images/touche_arr.jpg">&nbsp;&nbsp;deplacement lateral gauche&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td><img src="/images/touche_avant.jpg">&nbsp;&nbsp;deplacement lateral droit&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td><img src="/images/key-space.gif">&nbsp;&nbsp;tir&nbsp;&nbsp;&nbsp;&nbsp;</td>
			</tr>
			</table>
		</div>
	</div>

	<div id="ALERT" align = "center" style="font-size:40px; color:red;" >
			
	</div>
	
	<div id="Accueil">
		<div style="display: inline-block;vertical-align: top;">
		
			<div align="center" style="border: 2px solid black;width:200px;padding:10px;">
				Creer une partie</br></br>
				
				Nom de la partie<input onKeyUp="check(this);" id="NamePart" type="text" value=""> </input></br></br>
				
				Pseudo <input onKeyUp="check(this);" type="text" id="pseudo" value=""> </input></br></br>
				
				Nb de Joueur 
				<select id="nombre" onChange="nb = this.value;console.log(nb);">
				  <option value="2" selected>2</option> 
				  <option value="3">3</option>
				  <option value="4">4</option>
				</select></br></br>

				<input onclick="creerPartie();" type="button" value="creer partie" id="creer" disabled> </input>
			</div>

		</div>
		<div style="display: inline-block;">
		
			<div style="border: 2px solid black;width:300px;height:300px;padding:10px;overflow:auto;">
				<b>GAMES</b>
				<div id="games"></div>
			</div>
			
		</div>
	</div>
	
</body>

<script>

var namePart = "";
var pseudo = "";
var nb = 2;


function check(elem){


	if( elem.id == "NamePart"){
		namePart = elem.value;
	}else{
		pseudo = elem.value;
	}
	console.log(elem.value);
	if(namePart != "" && pseudo != ""){
		document.querySelector("#creer").disabled  = false;
	}else{
		document.querySelector("#creer").disabled  = true;
	}

}

function creerPartie(){

	old = username;
	username = pseudo;
	
	canvas = document.querySelector("#myCanvas");
	w = canvas.width;
	h = canvas.height;

	socket.emit('createPart',old, pseudo, namePart , nb ,w,h );
	
}

function GotoGame(name){

	pseudo = prompt("Quel est ton pseudo");
	namePart = name;
	socket.emit('valide',pseudo , namePart);

}

function GotoGameTwo(){
	old = username;
	username = pseudo;
	socket.emit('GotoGame',old, pseudo, namePart);
}

</script>