<style>
#myCanvas, #myCanvas2{
  border: 1px solid red;
  background-color:black;
}
</style>
<script src="jeu.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src ="client.js" ></script>

<body onload="init();" >	
	<hr>
	<div id="MESS" align = "center" style="font-size:40px; color:blue;" >

	</div>
	<hr>
<!--	<div style="width:1630px;height:917px;background-image:url(space_fond.png);background-repeat:no-repeat;"> 
		
	</div>-->
	
<canvas id="myCanvas" width = "1000" height = "600" ></canvas>

	
	<div style="border: 2px solid black; float:right;width:100px;border-right:1px solid black;height:300px;padding:10px;overflow:auto;">
		<b>USERS</b>
		<div id="users"></div>
	</div>
	
	<div style =" margin-right:35px; float:right; width:300px; height:250px; ">
		<div style="border: 2px solid black;width:300px; height:250px;padding:10px;overflow:auto;word-wrap:break-word;">
			<div id="conversation">
			</div>
			
		</div>
		<div style="margin-top:15px;">
			<textarea  id="data" rows="4" cols="43" style="resize: none;"/></textarea> 
			<input  type="button" id="datasend" value="Envoyer Message" style="margin-top:15px;width:323px; height:50px;"/>
			<div id="word" style="float:left;display:inline-block;" > 
		
			</div>
		</div>
	
	</div>
	
</body>